/* color palette */
:root {
  --vt-c-white: #f8f8f8;

  --vt-c-black: #181818;

  --vt-c-purple: #67507C;
  --vt-c-purple-light: #AF9BBF;

  --vt-c-divider-light: #A48FB7;
  --vt-c-divider-dark-1: #0A080C;
  --vt-c-divider-dark-2: #151019;

  --vt-c-text-light-1: #151019;
  --vt-c-text-dark-1: #0A080C;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-purple: var( --vt-c-purple);
  --color-background-purple-light: var(--vt-c-purple-light);

  --color-border: var(--vt-c-divider-light);
  --color-border-hover: var(--vt-c-purple);

  --color-heading: var(--vt-c-purple);
  --color-text: var(--vt-c-text-dark-1);

  --section-gap: 160px;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
}
