@import './base.css';

#app {
  max-width: 1400px;
  margin: 0 auto;
  font-weight: normal;
}

h1, h2, h3 {
  font-family: ubuntu;
  color: #67507C; 
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.4rem;
}

p{
  font-family: cantarell;
  font-size: 1rem;
}

a {
  text-decoration: underline;
  color: var(--vt-c-purple);
  transition: 0.4s;
}

a:hover{
  cursor: pointer;
}

